@font-face {
    font-family: 'Typo Grotesk';
    src: url('TypoGroteskThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('TypoGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('TypoGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('TypoGroteskBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('TypoGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('TypoGroteskThin-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('TypoGroteskBlack-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('TypoGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
/* 
@font-face {
    font-family: 'Typo Grotesk';
    src: url('Typo-Grotesk-Bold-Demo.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('Typo-Grotesk-Demo.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */
