.vehicle-protection-plan-section {
  padding: 90px 0 40px 0;
  margin: 0;
  position: relative;
}

.vehicle-protection-plan-section .heading-div {
  max-width: 720px;
  padding: 0 0 20px 0;
}

.vehicle-protection-plan-section .heading-div h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
  color: #181a1d;
  display: block;
  margin: 0 0 15px 0;
}

.vehicle-protection-plan-section .heading-div p {
  font-size: 21px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: #181a1d;
  display: block;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan {
  position: relative;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner {
  margin: 0 0 20px 0;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .title-div {
  padding: 0;
  margin: 0 0 15px 0;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .title-div h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.4;
  margin: 0 0 5px 0;
  text-align: center;
  color: #200a52;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .img-div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 170px;
  margin-bottom: 0;
  padding: 24px 0;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .text-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .text-div p {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #4f5154;
  display: block;
  margin: 0 0 10px 0;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .text-div .link-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .text-div .link-div .link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #44e0b7;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .text-div .link-div .link:hover {
  color: #4f5154;
}

.vehicle-protection-plan-section .btn-div {
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
}

.rpsm-section {
  padding: 100px 0 80px 0;
  margin: 0;
  background: #f9f8fb;
  position: relative;
}

.rpsm-section .heading-div {
  max-width: 720px;
  padding: 0 0 20px 0;
}

.rpsm-section .heading-div h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
  color: #181a1d;
  display: block;
  margin: 0 0 15px 0;
}

.rpsm-section .heading-div p {
  font-size: 21px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: #181a1d;
  display: block;
}

.rpsm-section .card-custom-rpsm {
  position: relative;
}

.rpsm-section .card-custom-rpsm .card-custom-rpsm-inner {
  margin: 0 0 20px 0;
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .title-div {
  width: calc(100% - 250px);
  padding: 0 20px 0 0;
}

.rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .title-div h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.4;
  margin: 0 0 15px 0;
  color: #200a52;
}

.rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .title-div p {
  font-size: 16px;
  line-height: 27px;
  color: #4f5154;
  display: block;
  margin: 0 0 15px 0;
}

.rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .title-div .link-div .link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #44e0b7;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .img-div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 250px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .img-div .img-fluid {
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 767px) {
  .vehicle-protection-plan-section {
    padding: 70px 0 0 0;
  }
  .vehicle-protection-plan-section .heading-div {
    margin-bottom: 20px;
  }
  .vehicle-protection-plan-section .heading-div h2 {
    font-size: 30px;
    margin: 0 0 15px 0;
  }
  .vehicle-protection-plan-section .heading-div p {
    font-size: 16px;
    line-height: 1.6;
  }
  .vehicle-protection-plan-section .card-custom-vehicle-plan {
    position: relative;
  }
  .vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner {
    padding: 19px 4px 14px 4px;
    margin: 0;
  }
  .vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .img-div {
    padding: 14px 0 24px 0;
  }
  .rpsm-section {
    padding: 70px 0 60px 0;
  }
  .rpsm-section .heading-div {
    padding: 0;
  }
  .rpsm-section .heading-div h2 {
    font-size: 28px;
  }
  .rpsm-section .heading-div p {
    font-size: 16px;
    line-height: 27px;
  }
  .rpsm-section .card-custom-rpsm .card-custom-rpsm-inner {
    margin: 0 0 0 0;
    padding: 40px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .title-div {
    width: 100%;
    padding: 0 0 30px 0;
    text-align: center;
  }
  .rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .img-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .vehicle-protection-plan-section {
    padding: 70px 0 30px 0;
  }
  .vehicle-protection-plan-section .heading-div {
    margin-bottom: 30px;
    max-width: 500px;
  }
  .vehicle-protection-plan-section .heading-div h2 {
    font-size: 30px;
    margin: 0 0 15px 0;
  }
  .vehicle-protection-plan-section .heading-div p {
    font-size: 16px;
    line-height: 1.6;
  }
  .vehicle-protection-plan-section .card-custom-vehicle-plan {
    position: relative;
  }
  .vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .title-div h3 {
    font-size: 18px;
  }
  .vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .title-div p {
    font-size: 14px;
  }
  .vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .img-div {
    min-height: 140px;
    padding: 0 0 15px 0;
  }
  .vehicle-protection-plan-section .card-custom-vehicle-plan .card-custom-vehicle-plan-inner .img-div .object-contain {
    width: 140px;
    height: 80px;
  }
  .rpsm-section {
    padding: 70px 0 60px 0;
  }
  .rpsm-section .heading-div {
    padding: 0;
    max-width: 500px;
  }
  .rpsm-section .heading-div h2 {
    font-size: 28px;
  }
  .rpsm-section .heading-div p {
    font-size: 16px;
    line-height: 27px;
  }
  .rpsm-section .card-custom-rpsm .card-custom-rpsm-inner {
    margin: 0 0 0 0;
    padding: 40px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .title-div {
    width: 100%;
    padding: 0 0 30px 0;
    text-align: center;
  }
  .rpsm-section .card-custom-rpsm .card-custom-rpsm-inner .img-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
/*# sourceMappingURL=auto-refine-lease-style.css.map */