.slider-box-custom {
  padding: 0;
  margin: 20px 0 20px 0;
  position: relative;
  width: 100%;

  .rangeslider {
    background: #ced6de;
  }

  .rangeslider,
  .rangeslider__fill {
    box-shadow: none;
  }

  .rangeslider__fill {
    background: #5230a2;
  }

  .rangeslider--horizontal {
    height: 2px;
    width: 100%;
  }

  .rangeslider__handle {
    width: 16px;
    height: 16px;
    background: #fff;
    background-image: none;
    box-shadow: none;
    border: 2px solid #5230a2;

    &::after {
      background: transparent;
      background-image: none;
      box-shadow: none;
    }
  }

  .rangeslider--is-highest-value .rangeslider__fill {
    background-color: #5230a2;
  }

  .rangeslider--horizontal .rangeslider__handle {
    top: -7px;
  }

  .range-slider-txt-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    color: #a7b4c0;
    padding: 4px 0 0 0;
  }
}

.rangeslider,
.rangeslider__fill {
  transition: background 0.3s;
}

.rangeslider--is-lowest-value {
  background-color: white;
}
