@charset "utf-8";

@import "./default-style";
@import "./custom-icons";

/* customs general css */

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.main-middle-area.pt-custom-0 {
  padding-top: 0;
}

.mlr-5 {
  margin-right: -5px !important;
  margin-left: -5px !important;
}

.plr-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.mlr-8 {
  margin-right: -8px !important;
  margin-left: -8px !important;
}

.plr-8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mlr-20 {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

.plr-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.btn-primary {
  background: #5230a2;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0;
  min-height: 44px;
  padding: 9px 32px 7px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  font-family: "Typo Grotesk", sans-serif;
  transition: all 0.8s;

  .bg-custom-icon {
    margin: 0 10px 0 0;
  }

  &:hover,
  &:focus {
    color: #fff;
    box-shadow: 0 5px 10px 0 rgba(105, 72, 183, 0.3);
    outline: none;
  }

  &.disabled {
    opacity: 0.39;
  }

  &.btn-primary-big {
    min-height: 56px;
  }
}

.btn-secondary {
  background: #44e0b7;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #200a52;
  letter-spacing: 0;
  min-height: 56px;
  padding: 9px 32px 7px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  font-family: "Typo Grotesk", sans-serif;
  transition: all 0.8s;

  .bg-custom-icon {
    margin: 0 10px 0 0;
  }

  &:hover,
  &:focus {
    color: #200a52;
    box-shadow: 0 5px 10px 0 rgba(68, 224, 182, 0.3);
    outline: none;
  }

  &.disabled {
    opacity: 0.39;
  }
}

.btn-primary-link {
  color: #6948b7;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  font-family: "Typo Grotesk", sans-serif;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #5230a2;
  }
}

/* End of general css */
.main-middle-area {
  padding: 0 0 0 0;
  position: relative;
}

.chat-screen-boat-div {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 99;

  .btn-rounded-primary {
    background: #5635ac;
    border-radius: 31px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1025px) {
  .max-md-1920 {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed-custom {
    overflow: hidden;
  }

  .position-fixed-remove {
    .slideInDown {
      animation: none;
    }
  }

  .xs-6 {
    width: 50%;
  }

  .px-16-xs {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .px-22-xs {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
  }

  .px-24-xs {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

// custom animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
} // custom animation

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed-custom {
    overflow: hidden;
  }

  .position-fixed-remove {
    .slideInDown {
      animation: none;
    }
  }
}
