.main-half-banner-section {
  padding: 100px 0 0 0;
  min-height: 750px;
  z-index: 999;
  @apply relative m-0;

  .half-banner-div {
    padding: 70px 0;
    z-index: 99;
    @apply relative m-0 h-full;

    &.auto-refinance-banner-img-01 {
      background: #fff url(../images/background/auto-refinance-banner02.svg) no-repeat;
      background-size: 900px;
      background-position: calc(100% - 50px) center;
    }

    &.auto-refinance-banner-img-02 {
      background: #fff url(../images/background/auto-lease-purchase-banner01.svg) no-repeat;
      background-size: contain;
      background-position: 100% 0;
    }

    &.auto-refinance-banner-img-03 {
      background: #fff url(../images/background/auto-lease-purchase-banner02.svg) no-repeat;
      background-size: 900px;
      background-position: calc(100% - 50px) center;
    }
  }

  .content-banner-root {
    padding: 60px 0 60px 0;
    @apply m-0 relative flex items-center justify-center w-full h-full;

    .text-content {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 600px;

      h4 {
        font-size: 21px;
        line-height: 1.5;
        letter-spacing: 0.1em;
        margin: 0 0 5px 0;
        @apply text-blue uppercase font-bold;
      }

      h1 {
        font-size: 58px;
        line-height: 1.3;
        margin: 0 0 5px 0;
        @apply text-custom-color2 font-normal;

        .span-color {
          @apply text-green block font-bold;
        }
      }

      p {
        font-size: 21px;
        line-height: 35px;
        margin: 0 0 10px 0;
        @apply text-custom-color2 font-normal not-italic;
      }

      .btn-div {
        margin: 30px 0 0 0;
        font-family: "Typo Grotesk", sans-serif;
        @apply flex flex-wrap;
      }
    }
  }
}

.saving-today-section {
  padding: 20px 0 40px 0;

  .heading-div {
    max-width: 895px;
    padding: 0 0 20px 0;
    z-index: 2;
    margin: 0 auto 15px auto;
    @apply relative;

    h2 {
      font-size: 36px;
      line-height: 1.5;
      margin: 0 0 15px 0;
      @apply relative;
    }
  }

  .saving-today-div {
    padding: 110px 50px 85px 50px;
    margin: 0 auto;
    border-radius: 16px;
    @apply relative bg-custom-color3;

    &::before {
      content: "";
      width: 31px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.9133 8.95273L10.898 29.4734C10.5145 29.8904 9.9471 30.0652 9.4068 29.9329C8.8665 29.8005 8.43402 29.3807 8.27007 28.8294L0.413422 2.58425C0.247561 2.03393 0.374289 1.43348 0.74655 1.00584C1.11881 0.578204 1.68101 0.387251 2.2244 0.503884L29.1031 6.24259C29.6567 6.36554 30.1033 6.78942 30.2712 7.35125C30.4392 7.91308 30.3023 8.52538 29.9133 8.95273Z' fill='%237F61CD'/%3E%3C/svg%3E%0A")
        no-repeat;
      @apply inline-block absolute bg-contain;
    }

    &::after {
      content: "";
      width: 61px;
      height: 61px;
      background: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='61' height='59.9958' rx='29.9979' transform='matrix(-1 0 0 1 61 0.287598)' fill='%239FF3DD'/%3E%3C/svg%3E%0A")
        no-repeat;
      @apply inline-block absolute bg-contain;
    }

    .saving-today-root {
      &::before {
        content: "";
        width: 74px;
        height: 93px;
        background: url("data:image/svg+xml,%3Csvg width='74' height='93' viewBox='0 0 74 93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.4124 0.366943H67.0303C72.3893 0.366943 75.7412 6.10426 73.0517 10.6901L27.0284 89.3846C24.379 93.9308 17.7556 93.9705 15.0259 89.464L0.976113 66.1574C-0.308441 64.0134 -0.328551 61.3532 0.935931 59.1893L33.3911 3.78154C34.6355 1.67719 36.9236 0.366943 39.4124 0.366943Z' fill='%2344E0B7'/%3E%3C/svg%3E%0A")
          no-repeat;
        @apply inline-block absolute bg-contain;
      }
    }

    &.saving-pattern-div01 {
      &::before {
        top: 60px;
        right: 120px;
      }

      &::after {
        top: 180px;
        left: 100px;
      }

      .saving-today-root {
        &::before {
          bottom: -22px;
          right: 180px;
        }
      }
    }

    &.saving-pattern-div02 {
      &::before {
        top: 60px;
        left: 120px;
      }

      &::after {
        top: 180px;
        right: 80px;
      }

      .saving-today-root {
        &::before {
          bottom: -22px;
          left: 280px;
        }
      }
    }

    &.saving-pattern-div03 {
      &::before {
        bottom: -15px;
        left: 125px;
      }

      &::after {
        bottom: 105px;
        right: 155px;
      }

      .saving-today-root {
        &::before {
          top: 105px;
          left: 100px;
          width: 44px;
          height: 55px;
          opacity: 0;
        }
      }
    }

    .center-container {
      margin: 0 auto 30px auto;
      max-width: 1200px;
      @apply w-full;
    }
  }

  .card-custom-saving-today {
    .card-custom-saving-today-inner {
      padding: 10px;

      .custom-list-ul {
        z-index: 2;
        @apply relative;

        li {
          font-size: 18px;
          line-height: 28px;
          color: #181a1d;
          padding: 0 0 0 27px;
          margin: 0 0 10px 0;
          @apply relative block font-normal;

          &::before {
            content: "";
            height: 12px;
            width: 12px;
            border-radius: 40px;
            top: 8px;
            left: 2px;
            @apply bg-blue block absolute;
          }
        }
      }

      .title-div {
        padding: 0;
        margin: 0 0 15px 0;

        h3 {
          font-size: 24px;
          line-height: 1.4;
          margin: 0 0 5px 0;
          @apply font-bold text-center text-blue-dark;
        }
      }

      .img-div {
        min-height: 170px;
        padding: 24px 0;
        @apply justify-center mb-0;
      }

      .text-div {
        @apply relative p-0 mb-0;

        p {
          font-size: 16px;
          line-height: 27px;
          margin: 0 0 10px 0;
          @apply block text-center text-custom-color6;
        }

        .link-div {
          @apply flex justify-center flex-wrap w-full;

          .link {
            transition: all 0.8s;
            @apply text-green font-bold text-center text-base;

            &:hover {
              @apply text-custom-color4;
            }
          }
        }
      }
    }
  }

  .btn-div {
    z-index: 2;
    @apply relative;
  }

  &.saving-today-section-area-02 {
    .heading-div {
      padding: 0 0 50px 0;

      p {
        font-size: 21px;
        line-height: 35px;
        max-width: 715px;
        margin: 0 auto;
        @apply font-normal text-center block text-custom-color2;
      }
    }

    .saving-today-div {
      padding-top: 85px;
      padding-bottom: 20px;
      
      &.remove-pattern-div {
        &::before {
          @apply hidden;
        }
  
        &::after {
          @apply hidden;
        }
  
        .saving-today-root {
          &::before {
            @apply hidden;
          }
        }
      }
    }
  
  }
}

.vehicle-protection-plan-section {
  padding: 90px 0 40px 0;
  @apply relative m-0;

  .heading-div {
    max-width: 720px;
    padding: 0 0 20px 0;

    h2 {
      font-size: 50px;
      line-height: 1.3;
      margin: 0 0 15px 0;
      @apply font-normal text-center block text-custom-color2;
    }

    p {
      font-size: 21px;
      line-height: 1.4;
      @apply font-normal text-center block text-custom-color2;
    }
  }

  .card-custom-vehicle-plan {
    @apply relative;

    .card-custom-vehicle-plan-inner {
      margin: 0 0 20px 0;

      .title-div {
        padding: 0;
        margin: 0 0 15px 0;

        h3 {
          font-size: 24px;
          line-height: 1.4;
          margin: 0 0 5px 0;
          @apply font-bold text-center text-blue-dark;
        }
      }

      .img-div {
        min-height: 170px;
        padding: 24px 0;
        @apply justify-center mb-0;
      }

      .text-div {
        @apply relative p-0 mb-0;

        p {
          font-size: 16px;
          line-height: 27px;
          margin: 0 0 10px 0;
          @apply block text-center text-custom-color4;
        }

        .link-div {
          @apply flex justify-center flex-wrap w-full;

          .link {
            transition: all 0.8s;
            @apply text-green font-bold text-center text-base;

            &:hover {
              @apply text-custom-color4;
            }
          }
        }
      }
    }
  }

  .btn-div {
    padding: 10px 0 0 0;
    @apply m-0;
  }
}

.rpsm-section {
  padding: 100px 0 80px 0;
  @apply m-0 relative bg-custom-color3;

  .heading-div {
    max-width: 720px;
    padding: 0 0 20px 0;

    h2 {
      font-size: 50px;
      line-height: 1.3;
      margin: 0 0 15px 0;
      @apply font-normal text-center block text-custom-color2;
    }

    p {
      font-size: 21px;
      line-height: 1.4;
      @apply font-normal text-center block text-custom-color2;
    }
  }

  .card-custom-rpsm {
    @apply relative;

    .card-custom-rpsm-inner {
      margin: 0 0 20px 0;
      border-radius: 16px;
      padding: 32px;
      @apply flex justify-between flex-wrap bg-white;

      .content-height-div {
        min-height: 200px;
      }

      .title-div {
        width: calc(100% - 250px);
        padding: 0 20px 0 0;

        h3 {
          font-size: 25px;
          line-height: 1.4;
          margin: 0 0 15px 0;
          @apply font-bold text-blue-dark;
        }

        p {
          font-size: 16px;
          line-height: 27px;
          margin: 0 0 15px 0;
          @apply block text-custom-color4;
        }

        .link-div {
          .link {
            transition: all 0.8s;
            @apply text-base text-green font-bold;
          }
        }
      }

      .img-div {
        width: 250px;
        @apply justify-end flex-wrap;

        .img-fluid {
          object-position: right;
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .main-half-banner-section {
    .half-banner-div {
      &.auto-refinance-banner-img-01 {
        background-position: right center;
        background-size: 800px;
      }

      &.auto-refinance-banner-img-02 {
        background-position: 115% 0;
      }

      &.auto-refinance-banner-img-03 {
        background-position: 125% center;
      }
    }
  }

  @media (min-width: 1025px) and (max-width: 1290px) {
    .main-half-banner-section {
      .half-banner-div {
        &.auto-refinance-banner-img-01 {
          background-position: right center;
          background-size: 700px;
        }

        &.auto-refinance-banner-img-02 {
          background-position: 115% 25%;
          background-size: 60%;
        }

        &.auto-refinance-banner-img-03 {
          background-position: 125% center;
          background-size: 65%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-half-banner-section {
    padding: 70px 0 0 0;
    min-height: 580px;

    .half-banner-div {
      padding: 0;
      margin: 0;
      min-height: calc(100vh - 70px);
      background-size: cover;
      background-position: center;
      padding-bottom: 330px;

      &.auto-refinance-banner-img-01 {
        background-position: -15px calc(100% - 50px);
        background-size: 420px;
      }

      &.auto-refinance-banner-img-02 {
        background-position: 0 calc(100% - 50px);
      }

      &.auto-refinance-banner-img-03 {
        background-position: 80% calc(100% - 0%);
        background-size: 140%;

        .btn-primary.btn-primary-big {
          font-size: 14px;
        }

        .content-banner-root {
          .text-content {
            h1 {
              font-size: 34px;
            }
          }
        }
      }
    }

    .content-banner-root {
      padding: 50px 0 20px 0;
      min-height: calc(100vh - 400px);

      .text-content {
        padding: 0 8px;
        @apply text-center;

        h4 {
          font-size: 14px;
          margin: 0 0 10px 0;
        }

        h1 {
          font-size: 36px;
          margin: 0 0 10px 0;

          .span-color {
            @apply inline-block;
          }
        }

        p {
          font-size: 16px;
          margin: 0 0 10px 0;
        }

        .btn-div {
          @apply justify-center;
        }
      }
    }
  }

  .saving-today-section {
    padding: 20px 0 0 0;

    .container {
      @apply p-0;
    }

    .saving-today-div {
      padding: 70px 20px 85px 20px;

      &::before {
        @apply hidden;
      }

      &::after {
        @apply hidden;
      }

      .saving-today-root {
        &::before {
          @apply hidden;
        }
      }
    }

    .heading-div {
      padding: 0 0 10px 0;

      h2 {
        font-size: 30px;
      }
    }

    .card-custom-saving-today {
      .card-custom-saving-today-inner {
        padding: 0 0 20px 0;
      }
    }

    &.saving-today-section-area-02 {
      .heading-div {
        padding: 0 0 40px 0;
        
        p {
          font-size: 16px;
          line-height: 27px;
        }
      }
    }
  }

  .vehicle-protection-plan-section {
    padding: 70px 0 0 0;

    .heading-div {
      margin-bottom: 20px;

      h2 {
        font-size: 30px;
        margin: 0 0 15px 0;
      }

      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }

    .card-custom-vehicle-plan {
      @apply relative;

      .card-custom-vehicle-plan-inner {
        padding: 4px 4px 4px 4px;
        @apply m-0;

        .img-div {
          padding: 14px 0 24px 0;
        }
      }
    }
  }

  .rpsm-section {
    padding: 70px 0 60px 0;

    .heading-div {
      @apply p-0;

      h2 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
        line-height: 27px;
      }
    }

    .card-custom-rpsm {
      .card-custom-rpsm-inner {
        padding: 40px 20px;
        @apply justify-center m-0;

        .content-height-div {
          min-height: 145px;
        }

        .title-div {
          padding: 0 0 30px 0;
          @apply text-center w-full;
        }

        .img-div {
          @apply justify-center w-full;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-half-banner-section {
    padding: 70px 0 0 0;
    min-height: 580px;

    .half-banner-div {
      &.auto-refinance-banner-img-01 {
        background-size: 60%;
        background-position: center right;
      }

      &.auto-refinance-banner-img-02 {
        background-size: 60%;
        background-position: 110% 75px;
      }

      &.auto-refinance-banner-img-03 {
        background-size: 68%;
        background-position: 125% 95px;
      }
    }

    .content-banner-root {
      padding: 50px 0 20px 0;

      .text-content {
        padding: 0 8px;
        max-width: 370px;
        @apply m-0 w-full;

        h4 {
          font-size: 14px;
          margin: 0 0 10px 0;
        }

        h1 {
          font-size: 36px;
          margin: 0 0 10px 0;

          .span-color {
            @apply inline-block;
          }
        }

        p {
          font-size: 16px;
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .saving-today-section {
    .heading-div {
      max-width: 550px;

      h2 {
        font-size: 24px;
      }
    }

    .saving-today-div {
      padding: 90px 24px 75px 24px;

      &::before {
        width: 20px;
        height: 21px;
      }

      &::after {
        width: 36px;
        height: 36px;
      }

      .saving-today-root {
        &::before {
          width: 52px;
          height: 72px;
        }
      }

      &.saving-pattern-div01 {
        &::before {
          top: 55px;
          right: 90px;
        }

        &::after {
          top: 150px;
          left: 60px;
        }

        .saving-today-root {
          &::before {
            bottom: -22px;
            right: 140px;
          }
        }
      }

      &.saving-pattern-div02 {
        &::before {
          top: 55px;
          left: 60px;
        }

        &::after {
          top: 150px;
          right: 60px;
        }

        .saving-today-root {
          &::before {
            bottom: -22px;
            left: 140px;
          }
        }
      }

      &.saving-pattern-div03 {
        &::before {
          bottom: -10px;
          left: 85px;
        }

        &::after {
          bottom: 70px;
          right: 40px;
        }

        .saving-today-root {
          &::before {
            top: 75px;
            left: 40px;
            width: 44px;
            height: 55px;
          }
        }
      }
    }

    .card-custom-saving-today {
      .card-custom-saving-today-inner {
        @apply p-0;

        .custom-list-ul {
          li {
            font-size: 14px;
            line-height: 22px;
            padding: 0 0 0 22px;

            &::before {
              height: 8px;
              width: 8px;
            }
          }
        }

        .title-div {
          h3 {
            font-size: 18px;
            min-height: 50px;
          }

          p {
            font-size: 14px;
          }
        }

        .img-div {
          min-height: 140px;
          padding: 0 0 15px 0;

          .object-contain {
            width: 140px;
            height: 80px;
          }
        }

        .text-div {
          p {
            font-size: 14px;
            line-height: 25px;
          }
        }
      }
    }

    &.saving-today-section-area-02 {
      .heading-div {
        padding: 0 0 40px 0;

        p {
          font-size: 16px;
          line-height: 27px;
        }
      }
    }
  }

  .vehicle-protection-plan-section {
    padding: 70px 0 30px 0;

    .heading-div {
      margin-bottom: 30px;
      max-width: 500px;

      h2 {
        font-size: 30px;
        margin: 0 0 15px 0;
      }

      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }

    .card-custom-vehicle-plan {
      position: relative;

      .card-custom-vehicle-plan-inner {
        .title-div {
          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }

        .img-div {
          min-height: 140px;
          padding: 0 0 15px 0;

          .object-contain {
            width: 140px;
            height: 80px;
          }
        }
      }
    }
  }

  .rpsm-section {
    padding: 70px 0 60px 0;

    .heading-div {
      padding: 0;
      max-width: 500px;

      h2 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
        line-height: 27px;
      }
    }

    .card-custom-rpsm {
      .card-custom-rpsm-inner {
        padding: 40px 20px;
        @apply justify-center m-0;

        .content-height-div {
          min-height: 145px;
        }

        .title-div {
          padding: 0 0 30px 0;
          @apply text-center w-full;
        }

        .img-div {
          @apply justify-center w-full;
        }
      }
    }
  }
}
