.main-banner-section {
  padding: 100px 0 0 0;
  background: #fff url(../images/background/home-banner.svg) no-repeat;
  min-height: 700px;
  z-index: 999;
  @apply relative m-0 bg-cover bg-bottom;

  .banner-div {
    padding: 70px 0;
    min-height: calc(100vh - 100px);
    z-index: 99;
    @apply relative m-0 h-auto;
  }

  .content-banner-root {
    padding: 110px 0 50px 0;
    height: inherit;

    @apply relative m-0 flex items-center justify-center w-full;
    // font-family: "Typo Grotesk", sans-serif;

    .text-content {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1010px;

      h4 {
        font-size: 21px;
        line-height: 1.5;
        letter-spacing: 0.1em;
        margin: 0 0 5px 0;
        @apply font-bold text-center uppercase text-blue;
      }

      h1 {
        font-size: 58px;
        line-height: 1.3;
        margin: 0 0 5px 0;
        @apply text-custom-color2 text-center font-normal;

        .span-color {
          @apply text-green font-bold block;
        }
      }

      p {
        font-size: 21px;
        line-height: 35px;
        margin: 0 0 10px 0;
        @apply text-custom-color2 font-normal text-center not-italic;
      }

      .btn-div {
        margin: 30px 0 0 0;
        font-family: "Typo Grotesk", sans-serif;
        @apply flex flex-wrap justify-center;
      }
    }

    .block {
      display: block;
    }
  }
}

.custom-section-01 {
  padding: 90px 0;
  @apply m-0 relative bg-custom-color3;

  .heading-div {
    max-width: 805px;

    h2 {
      font-size: 50px;
      line-height: 1.3;
      @apply block text-custom-color2 text-center font-normal;
    }
  }

  .card-custom-painless {
    @apply relative;

    .card-custom-painless-inner {
      .img-div {
        min-height: 180px;
        @apply justify-center;
      }

      .text-div {
        @apply p-0 m-0 relative;

        h4 {
          font-size: 25px;
          line-height: 1.3;
          margin: 0 0 5px 0;
          @apply text-blue-dark text-center font-bold;
        }

        p {
          @apply text-custom-color5 text-center block m-0 text-base;
        }
      }
    }
  }

  .btn-div {
    padding: 10px 0 0 0;
    @apply m-0;
  }
}

.custom-section-02 {
  padding: 90px 0 40px 0;
  @apply relative m-0;

  .heading-div {
    max-width: 720px;
    padding: 0 0 20px 0;

    h2 {
      font-size: 50px;
      line-height: 1.3;
      margin: 0 0 15px 0;
      @apply text-custom-color2 text-center font-normal block;
    }

    p {
      font-size: 21px;
      line-height: 1.4;
      @apply text-custom-color2 text-center block;
    }
  }

  .card-custom-product-money {
    @apply relative;

    .card-custom-painless-inner {
      .title-div {
        margin: 0 0 15px 0;
        @apply p-0;

        h3 {
          font-size: 25px;
          line-height: 1.3;
          margin: 0 0 5px 0;
          @apply text-blue-dark text-center font-bold;
        }
      }

      .img-div {
        @apply justify-center;
        min-height: 180px;
      }

      .text-div {
        @apply p-0 m-0 relative;

        p {
          font-size: 16px;
          line-height: 27px;
          margin: 0 0 10px 0;
          @apply block text-custom-color4 text-center;
        }

        .link-div {
          @apply flex flex-wrap justify-center w-full;

          .link {
            transition: all 0.8s;
            @apply text-green text-center text-base font-bold;

            &:hover {
              @apply text-custom-color4;
            }
          }
        }
      }
    }
  }

  .btn-div {
    padding: 10px 0 0 0;
    @apply m-0;
  }
}

.custom-section-03 {
  padding: 50px 0 60px 0;
  background: url(../images/background/bg-pattern-01.svg) no-repeat;
  background-size: 450px 590px;
  background-position: left bottom;
  @apply m-0 relative;

  .heading-div {
    max-width: 805px;

    h2 {
      font-size: 50px;
      line-height: 1.3;
      @apply text-custom-color2 block text-center font-normal;
    }
  }

  .card-custom-approve {
    @apply relative;

    .card-custom-approve-inner {
      .img-div {
        min-height: 180px;
        @apply justify-center;
      }

      .text-div {
        @apply p-0 m-0 relative;

        h4 {
          font-size: 25px;
          line-height: 1.4;
          margin: 0 0 8px 0;
          @apply text-center text-blue-dark font-bold;
        }

        p {
          @apply block m-0 text-center text-custom-color4 text-base;
        }
      }
    }
  }

  .btn-div {
    padding: 10px 0 0 0;
    @apply m-0;
  }
}

.calculate-custom-section {
  padding: 80px 0;
  @apply m-0 relative;

  .calculate-custom-div {
    padding: 60px;
    border-radius: 16px;
    @apply m-0 relative bg-custom-color3;

    .center-container {
      max-width: 1000px;
      margin: 0 auto;
      @apply w-full;
    }

    .heading-div {
      h2 {
        font-size: 36px;
        line-height: 1.3;
        margin: 0 0 10px 0;
        @apply block text-custom-color2;
      }
    }

    .card-custom-calculate {
      .card-custom-calculate-inner {
        padding: 0 30px 0 0;
      }

      .form-calculate-div {
        .form-calculate-box {
          @apply p-0 m-0 relative;

          p {
            font-size: 12px;
            line-height: 1.4;
            margin: 0 0 5px 0;
            @apply block text-blue-light font-bold;
          }

          .text-number {
            h3 {
              font-size: 32px;
              line-height: 1.2;
              color: #254254;
              @apply block relative font-bold;

              sup {
                font-weight: 700;
                font-size: 16px;
                line-height: 1.5;
                color: #254254;
                display: inline-block;
              }
            }
          }
        }

        .form-group {
          label {
            font-weight: 700;
            font-size: 12px;
            line-height: 1.4;
            color: #6948b7;
          }

          .form-control {
            padding: 5px 45px 5px 15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
            color: #254254;
            min-height: 40px;
          }

          .form-control-row {
            @apply relative;

            .text-right-per {
              font-weight: 700;
              font-size: 16px;
              line-height: 27px;
              color: #a7b4c0;
            }
          }
        }
      }
    }

    .card-custom-save {
      .card-custom-save-inner {
        padding: 0 0 0 30px;

        .card-white-rounded {
          background: #fff;
          border-radius: 16px;
          padding: 30px 40px 60px 40px;

          p {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
            color: #181a1d;
            margin: 0 0 3px 0;
          }

          h2.big-text {
            font-weight: 700;
            font-size: 90px;
            line-height: 1.2;
            color: #5230a2;
            display: block;
            margin: 0 0 5px 0;
          }

          .text-color-div {
            p {
              color: #6948b7;
            }
          }
        }

        .btn.btn-primary.btn-big {
          min-height: 56px;
          top: -28px;
          left: 40px;
          @apply relative;
        }
      }
    }
  }
}

.customers-reviews-section {
  padding: 90px 0;
  margin: 0;
  position: relative;
  background: #5230a2;

  .heading-div {
    max-width: 905px;
    margin-bottom: 75px;

    h2 {
      font-weight: 400;
      font-size: 50px;
      line-height: 1.3;
      text-align: center;
      color: #fff;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .img-icon {
        margin: 0 0 0 24px;
      }
    }
  }

  .card-custom-customers-reviews {
    @apply relative;

    .card-custom-customers-reviews-inner {
      background: #200a52;
      box-shadow: 0 40px 76px -29px rgba(0, 0, 0, 0.07);
      border-radius: 16px;
      padding: 35px 40px;
      color: #fff;

      .card-custom-top {
        padding: 0;
        margin: 0 0 24px 0;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .left-text-div {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: calc(100% - 100px);

          .img-div {
            margin: 0 14px 0 0;
            width: 45px;
          }

          .left-user-div {
            width: calc(100% - 59px);
          }

          h5 {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
            margin: 0 0 0 0;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.4;
            color: #fff;
            margin: 0;
            display: block;
          }
        }

        .img-right-div {
          padding: 0;
          margin: 0;
          position: relative;
          width: 100px;
          justify-content: flex-end;
        }
      }

      .text-desc-div {
        @apply p-0 m-0 relative;

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          color: #fff;
          margin: 0;
          display: block;
        }
      }
    }
  }

  .btn-div {
    margin: 0 0 0 0;
    padding: 10px 0 0 0;
  }
}

.custom-resources-section {
  padding: 90px 0;
  @apply bg-custom-color3 relative m-0;

  .heading-div {
    max-width: 805px;

    h2 {
      font-size: 50px;
      line-height: 1.3;
      @apply block text-custom-color2 text-center font-normal;
    }
  }

  .card-custom-resources {
    @apply relative;

    .card-custom-resources-inner {
      background-color: #200a52;
      box-shadow: 0 40px 76px -29px rgba(0, 0, 0, 0.07);
      border-radius: 27px;
      padding: 35px 40px;
      color: #fff;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      transition: all 0.8s;
      background-repeat: no-repeat;

      .card-custom-top {
        @apply p-0 m-0 relative flex items-center flex-wrap w-full;

        h6 {
          font-size: 15px;
          line-height: 1.5;
          margin: 0 0 15px 0;
          letter-spacing: 2.06897px;
          @apply text-white font-bold;
        }

        h3 {
          font-size: 28px;
          line-height: 1.5;
          @apply text-white block font-normal;

          .link {
            color: inherit;
          }
        }

        .middle-card-resources {
          padding: 0;
          margin: 0 0 30px 0;
          position: relative;
          min-height: 84px;
        }
      }
    }
  }

  .btn-div {
    padding: 10px 0 0 0;
    @apply m-0;
  }
}

.client-product-section {
  padding: 100px 0 76px 0;
  @apply m-0 relative;

  .card-client-product {
    .card-client-product-inner {
      @apply p-0 m-0 relative flex items-center justify-center h-full;
    }

    &.left-justify {
      .card-client-product-inner {
        @apply justify-start;
      }
    }

    &.center-justify {
      .card-client-product-inner {
        @apply justify-center;
      }
    }

    &.right-justify {
      .card-client-product-inner {
        @apply justify-end;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-banner-section {
    padding: 70px 0 0 0;
    min-height: 580px;
    background-image: url(../images/background/home-banner-mobile.svg);
    background-size: contain;
    background-position: 0 calc(100% - 70px);
    padding-bottom: 330px;

    .banner-div {
      min-height: auto;
      @apply p-0 m-0;
    }

    .content-banner-root {
      padding: 50px 0 40px 0;

      .text-content {
        padding: 0 8px;

        h4 {
          font-size: 14px;
          margin: 0 0 10px 0;
        }

        h1 {
          font-size: 36px;
          margin: 0 0 10px 0;

          .span-color {
            @apply inline-block;
          }
        }

        p {
          font-size: 16px;
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .custom-section-01 {
    padding: 70px 0 60px 0;

    .heading-div {
      h2 {
        font-size: 30px;
      }
    }

    .card-custom-painless {
      .card-custom-painless-inner {
        .text-div {
          h4 {
            font-size: 21px;
          }
        }
      }
    }

    .btn-div {
      @apply p-0;
    }
  }

  .calculate-custom-section {
    padding: 80px 0 40px 0;

    .calculate-custom-div {
      padding: 40px 20px 5px 20px;

      .heading-div {
        h2 {
          font-size: 26px;
        }
      }

      .card-custom-calculate {
        .card-custom-calculate-inner {
          @apply p-0;

          .form-calculate-div {
            .form-group {
              &.pr-4 {
                padding-right: 5px;
              }

              &.pl-4 {
                padding-left: 5px;
              }
            }
          }
        }
      }

      .card-custom-save {
        .card-custom-save-inner {
          @apply p-0;

          .card-white-rounded {
            padding: 30px 20px 60px 19px;
            @apply text-center;

            h2.big-text {
              font-size: 60px;
            }
          }

          .btn-up-div {
            @apply justify-center;

            .btn.btn-primary.btn-big {
              left: auto;
            }
          }
        }
      }
    }
  }

  .custom-section-02 {
    padding: 70px 0 40px 0;
    @apply bg-custom-color3;

    .heading-div {
      margin-bottom: 30px;

      h2 {
        font-size: 28px;
        margin: 0 0 15px 0;
      }

      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }

    .card-custom-product-money {
      @apply relative;

      .card-custom-painless-inner {
        border-radius: 16px;
        padding: 29px 4px 24px 4px;
        @apply bg-white;
      }
    }
  }

  .custom-section-03 {
    padding: 90px 0 30px 0;
    @apply bg-white;

    .heading-div {
      margin-bottom: 20px;

      h2 {
        font-size: 30px;
      }
    }

    .card-custom-approve {
      .card-custom-approve-inner {
        .text-div {
          h4 {
            font-size: 21px;
          }

          p {
            line-height: 1.6;
          }
        }
      }
    }
  }

  .customers-reviews-section {
    padding: 75px 0;

    .heading-div {
      margin-bottom: 40px;

      h2 {
        font-size: 30px;
        @apply justify-start text-left flex-nowrap;
      }
    }

    .card-custom-customers-reviews {
      .card-custom-customers-reviews-inner {
        padding: 30px 25px;

        .card-custom-top {
          .left-text-div {
            .left-user-div {
              width: calc(100% - 47px);
            }

            .img-div {
              margin: 0 11px 0 0;
              width: 36px;

              .object-contain {
                width: 36px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }

  .custom-resources-section {
    padding: 70px 0;

    .heading-div {
      margin-bottom: 50px;

      h2 {
        font-size: 30px;
      }
    }

    .card-custom-resources {
      .card-custom-resources-inner {
        padding: 30px 35px;
      }
    }
  }

  .client-product-section {
    padding: 80px 0 56px 0;

    .card-client-product {
      .img-fluid {
        object-fit: contain;
      }

      &.order-01 {
        width: 100%;

        .card-client-product-inner {
          margin-bottom: 30px;
          @apply justify-start;
        }
      }

      &.order-02 {
        width: 50%;

        .img-fluid {
          width: 100%;
          max-width: 155px;
        }

        .card-client-product-inner {
          @apply justify-start;
        }
      }

      &.order-03 {
        width: 50%;

        .img-fluid {
          width: 100%;
          max-width: 155px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-banner-section {
    padding: 70px 0 0 0;
    min-height: 580px;
    background-size: contain;
    background-position: bottom;

    .banner-div {
      @apply p-0 m-0;
      min-height: auto;
    }

    .content-banner-root {
      padding: 80px 0 40px 0;

      .text-content {
        padding: 0 8px;

        h4 {
          font-size: 14px;
          margin: 0 0 10px 0;
        }

        h1 {
          font-size: 36px;
          margin: 0 0 10px 0;

          .span-color {
            display: inline-block;
          }
        }

        p {
          font-size: 16px;
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .custom-section-01 {
    padding: 70px 0 60px 0;

    .heading-div {
      max-width: 500px;

      h2 {
        font-size: 30px;
      }
    }

    .card-custom-painless {
      .card-custom-painless-inner {
        .text-div {
          h4 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .btn-div {
      padding: 0 0 0 0;
    }
  }

  .calculate-custom-section {
    padding: 80px 0 40px 0;

    .calculate-custom-div {
      padding: 40px 20px 5px 20px;

      .heading-div {
        h2 {
          font-size: 26px;
        }
      }

      .card-custom-calculate {
        .card-custom-calculate-inner {
          @apply p-0;

          .form-calculate-div {
            .form-group {
              &.pr-4 {
                padding-right: 5px;
              }

              &.pl-4 {
                padding-left: 5px;
              }
            }
          }
        }
      }

      .card-custom-save {
        .card-custom-save-inner {
          .card-white-rounded {
            padding: 30px 20px 60px 19px;
            text-align: center;

            h2.big-text {
              font-size: 60px;
            }
          }

          .btn-up-div {
            @apply justify-center;

            .btn.btn-primary.btn-big {
              left: auto;
            }
          }
        }
      }
    }
  }

  .custom-section-02 {
    padding: 70px 0 30px 0;

    .heading-div {
      margin-bottom: 30px;
      max-width: 500px;

      h2 {
        font-size: 30px;
        margin: 0 0 15px 0;
      }

      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }

    .card-custom-product-money {
      @apply relative;

      .card-custom-painless-inner {
        .title-div {
          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }

        .img-div {
          min-height: 140px;

          .object-contain {
            width: 140px;
          }
        }
      }
    }
  }

  .custom-section-03 {
    padding: 30px 0 30px 0;
    background: #fff;

    .heading-div {
      margin-bottom: 20px;

      h2 {
        font-size: 30px;
      }
    }

    .card-custom-approve {
      .card-custom-approve-inner {
        .text-div {
          h4 {
            font-size: 21px;
          }

          p {
            line-height: 1.6;
          }
        }
      }
    }
  }

  .customers-reviews-section {
    padding: 75px 0;

    .heading-div {
      margin-bottom: 50px;

      h2 {
        font-size: 30px;
        @apply justify-center;
      }
    }

    .card-custom-customers-reviews {
      .card-custom-customers-reviews-inner {
        padding: 25px 20px;

        .card-custom-top {
          .left-text-div {
            width: 100%;
            margin: 0 0 30px 0;

            .left-user-div {
              width: calc(100% - 47px);
            }

            .img-div {
              margin: 0 11px 0 0;
              width: 36px;

              .object-contain {
                width: 36px;
                object-fit: contain;
              }
            }
          }

          .img-right-div {
            height: 40px;
            @apply justify-start w-full;
          }
        }

        .text-desc-div {
          p {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }

      .btn-div {
        @apply p-0;
      }
    }
  }

  .custom-resources-section {
    padding: 70px 0;

    .heading-div {
      margin-bottom: 50px;

      h2 {
        font-size: 30px;
      }
    }

    .card-custom-resources {
      margin-bottom: 0.8rem;

      .card-custom-resources-inner {
        padding: 30px 20px;
        min-height: 260px;

        .card-custom-top {
          h3 {
            font-size: 22px;
          }

          h6 {
            font-size: 12px;
            letter-spacing: 1px;
          }

          .middle-card-resources {
            min-height: 70px;
          }
        }
      }
    }
  }
}
