.blog-main-section {
  margin: 0;
  position: relative;

  .blog-main-div {
    padding: 100px 0;
    margin: 0;
    position: relative;

    .heading-div {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;

      h1 {
        font-weight: 400;
        font-size: 60px;
        line-height: 75px;
        color: #181a1d;
        margin: 0 0 30px 0;
        padding: 0;
        display: block;
      }
    }

    .filter-group-root-div {
      padding: 0 0 0 3px;
      margin: 0 0 90px 0;
      position: relative;
    }
  }
}

.blog-main-root {
  .blog-main-card-box {
    .blog-main-card-box-inner {
      padding: 0;
      margin: 0 0 30px 0;
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      background: #f9f8fb;
      height: 100%;

      .blog-main-card-left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 400px;
        min-height: 200px;
        height: 100%;

        .img-thumb {
          width: 100%;

          .img-responsive {
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .blog-main-card-right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: calc(100% - 400px);
        padding: 45px 50px 45px 60px;
        height: 100%;

        .blog-main-text-div {
          h2 {
            font-weight: 400;
            font-size: 28px;
            line-height: 1.5;
            color: #181a1d;
            margin: 0 0 15px 0;
            display: block;

            a {
              color: inherit;
              transition: all 0.8s;

              &:hover {
                color: #5230a2;
              }
            }
          }

          .row-text {
            margin: 0 0 10px 0;

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 27px;
              color: #393b3f;
              margin: 0 20px 0 0;
            }

            a {
              color: #5230a2;
            }

            .social-media-div {
              margin: 0;

              .social-media-ul {
                li {
                  margin: 0 9px 9px 0;

                  .social-link {
                    width: 24px;
                    height: 24px;
                    background: #bdbebf;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                    color: #fff;
                    transition: all 0.8s;

                    &:hover {
                      background: #5230a2;
                    }
                  }
                }
              }
            }
          }

          .desc-div {
            margin: 0 0 25px 0;

            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 27px;
              color: #393b3f;
              margin: 0 0 10px 0;
            }
          }

          .link-div {
            .link-read-more {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              font-weight: 600;
              font-size: 16px;
              line-height: 27px;
              color: #44e0b7;

              .bg-custom-icon {
                margin: 0 0 0 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .blog-main-section {
    .blog-main-div {
      padding: 50px 0;

      .heading-div {
        h1 {
          font-size: 36px;
          line-height: 1.5;
          margin: 0 0 25px 0;
        }
      }

      .filter-group-root-div {
        margin: 0 0 60px 0;
      }
    }
  }

  .blog-main-root {
    .blog-main-card-box {
      .blog-main-card-box-inner {
        .blog-main-card-left {
          width: 100%;
        }

        .blog-main-card-right {
          width: 100%;
          padding: 24px 16px 24px 16px;

          .blog-main-text-div {
            h2 {
              font-size: 21px;
            }

            .row-text {
              p {
                font-size: 12px;
                line-height: 24px;
              }

              .m-block {
                display: block;
              }

              .social-media-div {
                margin: 18px 0 0 0;
                width: 100%;
              }
            }

            .desc-div {
              margin: 0 0 20px 0;

              p {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blog-main-section {
    .blog-main-div {
      padding: 50px 0;

      .heading-div {
        h1 {
          font-size: 36px;
          line-height: 1.5;
          margin: 0 0 25px 0;
        }
      }

      .filter-group-root-div {
        margin: 0 0 60px 0;
      }
    }
  }

  .blog-main-root {
    .blog-main-card-box {
      .blog-main-card-box-inner {
        .blog-main-card-left {
          width: 300px;
        }

        .blog-main-card-right {
          width: calc(100% - 300px);
          padding: 24px 24px 24px 24px;

          .blog-main-text-div {
            h2 {
              font-size: 21px;
            }

            .row-text {
              p {
                font-size: 12px;
                line-height: 24px;
              }

              .social-media-div {
                margin: 18px 0 0 0;
                width: 100%;
              }
            }

            .desc-div {
              margin: 0 0 20px 0;

              p {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
