.contact-us-section {
  margin: 0px;
  position: relative;
}

.contact-us-section .contact-us-div {
  padding: 100px 0;
  position: relative;
}

.contact-us-section .contact-us-info-div .header-txt-div h1 {
  font-size: 60px;
  line-height: 75px;
  display: block;
  font-weight: 400;
  margin-bottom: 2.25rem;
  padding: 0px;
  --tw-text-opacity: 1;
  color: rgba(32, 10, 82, var(--tw-text-opacity));
}

.contact-us-section .contact-us-info-div .info-text-div {
  max-width: 400px;
}

.contact-us-section .contact-us-info-div .info-text-div .info-text-row p {
  font-size: 21px;
  line-height: 32px;
  color: rgba(32, 10, 82, 0.8);
  font-weight: 400;
}

.contact-us-section .contact-us-info-div .info-text-div .info-text-icon-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.25rem;
  width: 100%;
}

.contact-us-section .contact-us-info-div .info-text-div .info-text-icon-div .icon-div {
  width: 24px;
  display: flex;
  flex-wrap: wrap;
}

.contact-us-section .contact-us-info-div .info-text-div .info-text-icon-div .text-div {
  width: calc(100% - 24px);
  padding: 0 0 0 12px;
}

.contact-us-section .contact-us-info-div .info-text-div .info-text-icon-div .link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  --tw-text-opacity: 1;
  color: rgba(32, 10, 82, var(--tw-text-opacity));
}

.contact-us-section .contact-us-info-div .info-text-div .info-text-icon-div .link.small-txt {
  font-size: 14px;
}

.contact-us-section .contact-us-right .form-div .btn-secondary .bg-custom-icon {
  margin: 0 0 0 12px;
}

@media (max-width: 767px) {
  .contact-us-section .contact-us-div {
    padding: 60px 0;
  }

  .contact-us-section .contact-us-div .header-txt-div h1 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 2rem;
  }

  .contact-us-section .contact-us-div .contact-us-info-div {
    margin-bottom: 3rem;
  }

  .contact-us-section .contact-us-div .contact-us-info-div .info-text-div .info-text-row p {
    font-size: 18px;
    line-height: 28px;
  }

  .contact-us-section .contact-us-div .contact-us-info-div .info-text-div .info-text-icon-div {
    margin-bottom: 1rem;
  }

  .contact-us-section .contact-us-div .contact-us-info-div .info-text-div .info-text-icon-div .link {
    font-size: 16px;
  }

  .contact-us-section .contact-us-div .contact-us-info-div .info-text-div .info-text-icon-div .link.small-txt {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact-us-section .contact-us-div {
    padding: 60px 20px;
  }

  .contact-us-section .contact-us-div .header-txt-div h1 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 2rem;
  }

  .contact-us-section .contact-us-div .contact-us-info-div {
    margin-bottom: 3rem;
  }

  .contact-us-section .contact-us-div .contact-us-info-div .info-text-div .info-text-row p {
    font-size: 18px;
    line-height: 28px;
  }

  .contact-us-section .contact-us-div .contact-us-info-div .info-text-div .info-text-icon-div {
    margin-bottom: 1rem;
  }

  .contact-us-section .contact-us-div .contact-us-info-div .info-text-div .info-text-icon-div .link {
    font-size: 16px;
  }

  .contact-us-section .contact-us-div .contact-us-info-div .info-text-div .info-text-icon-div .link.small-txt {
    font-size: 12px;
  }
}
/*# sourceMappingURL=contact-us-style.css.map */