.footer-div {
  padding: 44px 0 24px 0;
  --tw-bg-opacity: 1;
  background-color: rgba(32, 10, 82, var(--tw-bg-opacity));
  margin: 0px;
  position: relative;
}

.footer-div .footer-top-div {
  padding: 46px 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  margin: 0px;
  position: relative;
}

.footer-div .footer-top-div .footer-top-left-justify {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-div .footer-top-div .img-footer-logo-div {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.footer-div .footer-top-div .get-quote-footer-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-div .footer-top-div .get-quote-footer-div .get-quote-footer-top-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-div .footer-top-div .get-quote-footer-div .get-quote-footer-top-div .link-div .btn.btn-secondary-link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  margin: 0 40px 0 0;
  font-weight: 700;
  text-align: right;
  --tw-text-opacity: 1;
  color: rgba(68, 224, 183, var(--tw-text-opacity));
}

.footer-div .footer-middle-div {
  padding: 45px 0 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  margin: 0px;
  position: relative;
}

.footer-div .footer-middle-div .w-12 {
  width: 12%;
}

.footer-div .footer-middle-div .w-20 {
  width: 20%;
}

.footer-div .footer-middle-div .w-24 {
  width: 24%;
}

.footer-div .footer-middle-div .w-28 {
  width: 28%;
}

.footer-div .footer-middle-div .w-36 {
  width: 36%;
}

.footer-div .footer-middle-div .w-16 {
  width: 16%;
}

.footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable h5 {
  font-size: 21px;
  line-height: 30px;
  margin: 0 0 16px 0;
  letter-spacing: 0.04em;
  font-weight: 700;
  pointer-events: none;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  text-transform: capitalize;
}

.footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable h5 .display-none {
  display: none;
}

.footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable .list-ul li {
  margin: 0 0 10px 0;
}

.footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable .list-ul li .footer-link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable .list-ul-50 {
  display: flex;
  flex-wrap: wrap;
}

.footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable .list-ul-50 li {
  width: 50%;
}

.footer-div .footer-middle-div .footer-middle-box .footer-col-div .title-list-ul .footer-link {
  font-size: 21px;
  line-height: 30px;
  margin: 0 0 12px 0;
  letter-spacing: 0.04em;
  display: block;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  text-transform: capitalize;
}

.footer-div .footer-bottom-div {
  padding: 40px 0 0 0;
  margin: 0px;
  position: relative;
}

.footer-div .footer-bottom-div .newsletter-box-group {
  position: relative;
}

.footer-div .footer-bottom-div .newsletter-box-group .input-group-div {
  max-width: 375px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.footer-div .footer-bottom-div .newsletter-box-group .input-group-div .form-control {
  height: 52px;
  border-radius: 39px;
  padding: 10px 55px 10px 30px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  --tw-bg-opacity: 1;
  background-color: rgba(20, 5, 57, var(--tw-bg-opacity));
  font-weight: 400;
  position: relative;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 100%;
}

.footer-div .footer-bottom-div .newsletter-box-group .input-group-div .form-control::-webkit-input-placeholder {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.footer-div .footer-bottom-div .newsletter-box-group .input-group-div .form-control::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.footer-div .footer-bottom-div .newsletter-box-group .input-group-div .form-control:-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.footer-div .footer-bottom-div .newsletter-box-group .input-group-div .form-control:-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.footer-div .footer-bottom-div .newsletter-box-group .input-group-div .btn-submit-arrow {
  height: 52px;
  width: 52px;
  padding: 0 10px 0 0;
  position: absolute;
  top: 0px;
  right: 0px;
}

.footer-div .footer-bottom-div .social-media-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.footer-div .footer-bottom-div .social-media-div ul.social-media-ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.footer-div .footer-bottom-div .social-media-div ul.social-media-ul li {
  padding: 0 10px;
}

.footer-div .footer-bottom-div .social-media-div ul.social-media-ul li .social-link {
  font-size: 18px;
  transition: all 0.8s;
  display: flex;
  flex-wrap: wrap;
  --tw-text-opacity: 1;
  color: rgba(68, 224, 183, var(--tw-text-opacity));
}

.footer-div .footer-bottom-div .social-media-div ul.social-media-ul li .social-link:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .footer-div .footer-bottom-div .social-media-div {
    padding: 0 60px 0 0;
  }
}

@media (min-width: 1025px) {
  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable .ca-box {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .footer-div .footer-top-div {
    padding: 30px 0 20px 0;
    border-bottom: none;
  }

  .footer-div .footer-top-div .footer-top-left-justify {
    margin-bottom: 45px;
  }

  .footer-div .footer-top-div .get-quote-footer-div {
    justify-content: flex-start;
  }

  .footer-div .footer-top-div .get-quote-footer-div .get-quote-footer-top-div .btn-div {
    order: 1;
  }

  .footer-div .footer-top-div .get-quote-footer-div .get-quote-footer-top-div .link-div {
    order: 2;
  }

  .footer-div .footer-top-div .get-quote-footer-div .get-quote-footer-top-div .link-div .btn.btn-secondary-link {
    margin: 5px 0 5px 25px;
  }

  .footer-div .footer-middle-div {
    border-bottom: 0;
    padding: 0 0 15px 0;
  }

  .footer-div .footer-middle-div .footer-middle-box {
    width: 100%;
    margin-bottom: 0;
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable {
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    padding: 20px 0 4px 0;
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable h5 {
    margin: 0 0 16px 0;
    pointer-events: auto;
    position: relative;
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable h5 a.ca-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable h5 .display-none {
    top: 10px;
    right: 10px;
    transition: all 0.8s;
    display: flex;
    position: absolute;
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable.ca-expanded .ca-control .down-arrow-icon {
    transform: rotate(180deg);
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .title-list-ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .title-list-ul li .footer-link {
    margin: 20px 0 20px 0;
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .title-list-ul li:last-child {
    border-bottom: 0;
  }

  .footer-div .footer-bottom-div {
    padding: 15px 0 0 0;
  }

  .footer-div .footer-bottom-div .social-media-div {
    margin: 10px 0 10px 0;
    justify-content: flex-start;
    height: 100%;
  }

  .footer-div .footer-bottom-div .social-media-div ul.social-media-ul {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-div {
    padding: 24px 0 14px 0;
  }

  .footer-div .footer-middle-div .footer-middle-box {
    width: 33.3%;
  }

  .footer-div .footer-middle-div .footer-middle-box.w-28 {
    width: 66.6%;
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div .collapsable .ca-box {
    display: block !important;
  }

  .footer-div .footer-middle-div .footer-middle-box .footer-col-div ul.title-list-ul {
    margin: 44px 0 0 0;
  }

  .footer-div .footer-bottom-div .social-media-div {
    justify-content: flex-start;
  }

  .footer-div .footer-bottom-div .social-media-div ul.social-media-ul {
    justify-content: flex-start;
  }

  .footer-div .px-24-xs {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
/*# sourceMappingURL=footer.css.map */