.get-quote-main-section {
  margin: 0;
  position: relative;

  .get-quote-main-div {
    padding: 70px 0;
    margin: 0;
    position: relative;
  }

  .heading-div {
    padding: 0;
    margin: 0 0 42px 0;
    position: relative;

    h1 {
      font-weight: 400;
      font-size: 50px;
      line-height: 1.2;
      text-align: center;
      color: #181a1d;
      display: block;
      margin: 0 0 8px 0;

      .span-color {
        color: #4de0b7;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      text-align: center;
      color: #181a1d;
      display: block;
      margin: 0 0 8px 0;
    }
  }
}

.step-forms-main-root {
  .step-forms-tabs-top {
    padding: 0;
    margin: 0 0 70px 0;
    position: relative;

    .step-forms-tabs-top-row {
      max-width: 470px;
      margin: 0 auto;

      .step-forms-tabs-ul {
        border: 1px solid #d3d3d4;
        border-radius: 22px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        white-space: nowrap;

        .step-forms-tabs-li {
          padding: 14px 27px;
          position: relative;

          .tabs-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              width: 1px;
              height: 42px;
              background-color: #d3d3d4;
            }

            .tabs-box-icon {
              height: 48px;
              width: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100px;
              background-color: transparent;
              transition: all 0.8s;

              .rounded-span {
                display: flex;
              }

              .bg-custom-icon {
                transition: all 0.8s;
              }
            }

            .tabs-box-text {
              width: calc(100% - 48px);
              display: none;
              padding: 0 0 0 12px;

              p {
                font-weight: 400;
                font-size: 12px;
                line-height: 1.5;
                color: #5230a2;
                display: block;
                margin: 0 0 2px 0;
              }

              h5 {
                font-weight: 700;
                font-size: 16px;
                line-height: 1.5;
                color: #393b3f;
                display: block;
              }
            }
          }

          &:first-child {
            padding-left: 25px;

            .tabs-box {
              &::before {
                display: none;
              }
            }
          }

          &.active {
            .tabs-box-icon {
              background-color: #5230a2;
            }

            .tabs-box-text {
              display: block;
            }
          }

          &.done {
            .tabs-box-icon {
              background-color: rgba(82, 48, 162, 0.16);
            }
          }
        }
      }
    }
  }

  .step-forms-tabs-body {
    position: relative;

    .title-heading-div {
      h4 {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #232529;
        margin: 0 10px 5px 0;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #898a8d;
      }
    }
  }

  .step-forms-footer-div {
    padding: 0;
    margin: 0;
    position: relative;

    .btn-primary {
      .arrow-right-long {
        margin: 0 0 0 15px;
      }
    }

    .bottom-text-div {
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #4f5154;
        display: block;

        .link {
          color: #44e0b7;
        }
      }
    }
  }
}

.congratulations-quote-section {
  margin: 0;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 31px;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.9133 8.95273L10.898 29.4734C10.5145 29.8904 9.9471 30.0652 9.4068 29.9329C8.8665 29.8005 8.43402 29.3807 8.27007 28.8294L0.413422 2.58425C0.247561 2.03393 0.374289 1.43348 0.74655 1.00584C1.11881 0.578204 1.68101 0.387251 2.2244 0.503884L29.1031 6.24259C29.6567 6.36554 30.1033 6.78942 30.2712 7.35125C30.4392 7.91308 30.3023 8.52538 29.9133 8.95273Z' fill='%237F61CD'/%3E%3C/svg%3E%0A")
      no-repeat;
    background-size: contain;
    top: 230px;
    right: 160px;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 61px;
    height: 61px;
    background: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='61' height='59.9958' rx='29.9979' transform='matrix(-1 0 0 1 61 0.287598)' fill='%2344E0B7'/%3E%3C/svg%3E%0A")
      no-repeat;
    background-size: contain;
    top: 350px;
    left: 175px;
  }

  .congratulations-quote-div {
    padding: 70px 0;
    margin: 0;
    position: relative;

    .container {
      position: relative;
      z-index: 3;
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 50px;
      background: url("data:image/svg+xml,%3Csvg width='74' height='93' viewBox='0 0 74 93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.4124 0.366943H67.0303C72.3893 0.366943 75.7412 6.10426 73.0517 10.6901L27.0284 89.3846C24.379 93.9308 17.7556 93.9705 15.0259 89.464L0.976113 66.1574C-0.308441 64.0134 -0.328551 61.3532 0.935931 59.1893L33.3911 3.78154C34.6355 1.67719 36.9236 0.366943 39.4124 0.366943Z' fill='%239FF3DD'/%3E%3C/svg%3E%0A")
        no-repeat;
      background-size: contain;

      bottom: 200px;
      right: 195px;
    }
  }

  .heading-top-div {
    padding: 0;
    margin: 0 0 35px 0;
    position: relative;

    h1 {
      font-weight: 400;
      font-size: 50px;
      line-height: 1.2;
      text-align: center;
      color: #181a1d;
      display: block;
      word-break: break-word;
      margin: 0 0 8px 0;
    }
  }

  .est-rate-card-root {
    .est-rate-card {
      background: rgba(239, 236, 246, 0.6);

      .est-ratecard-box {
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.5;
          color: #232529;
          margin: 0 0 8px 0;
          display: block;
          width: 100%;
        }

        h4 {
          font-weight: 400;
          font-size: 21px;
          line-height: 1.5;
          color: #232529;
          display: block;
          width: 100%;

          .text-blue {
            color: #5230a2;
            font-weight: 700;
          }
        }

        &.left {
          p {
            text-align: center;
          }

          h4 {
            text-align: center;
          }
        }
      }
    }
  }

  .title-txt-div {
    h4 {
      font-weight: 700;
      font-size: 21px;
      line-height: 28px;
      letter-spacing: 0.03em;
      text-align: center;
      color: #232529;
      margin: 0 0 12px 0;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      text-align: center;
      color: #181a1d;
      margin: 0 0 10px 0;
    }
  }

  .note-div-root {
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      color: #4f5154;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .get-quote-main-section {
    .get-quote-main-div {
      padding: 50px 0;
    }

    .heading-div {
      h1 {
        font-size: 41px;
      }
    }
  }

  .step-forms-main-root {
    .step-forms-tabs-top {
      margin: 0 0 45px 0;

      .step-forms-tabs-top-row {
        .step-forms-tabs-ul {
          justify-content: center;

          .step-forms-tabs-li {
            padding: 14px 12px;

            &:first-child {
              padding-left: 15px;
            }

            .tabs-box {
              .tabs-box-icon {
                height: 38px;
                width: 38px;

                .bg-custom-icon {
                  transform: scale(0.9);
                }
              }

              .tabs-box-text {
                width: calc(100% - 38px);
                padding: 0 0 0 8px;

                p {
                  font-size: 9px;
                }

                h5 {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }

    .step-forms-footer-div {
      .btn-bottom-left-div {
        width: 100%;

        .btn-pre-back {
          width: 100%;
        }
      }

      .btn-bottom-right-div {
        width: 100%;

        .btn-primary {
          width: 100%;
        }
      }
    }
  }

  .congratulations-quote-section {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    .congratulations-quote-div {
      &::before {
        display: none;
      }
    }

    .heading-top-div {
      h1 {
        font-size: 30px;
      }
    }

    .est-rate-card-root {
      .est-rate-card {
        .est-ratecard-box {
          margin: 0 0 20px 0;

          h4 {
            font-size: 18px;
          }

          &.right {
            text-align: center;
            margin: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .congratulations-quote-section {
    &::before {
      width: 24px;
      height: 24px;
      top: 200px;
      right: 100px;
    }

    &::after {
      width: 40px;
      height: 40px;
      top: 350px;
      left: 40px;
    }

    .congratulations-quote-div {
      &::before {
        bottom: 180px;
        right: 45px;
      }
    }
  }
}
